$hot-pink: #FF3E96;
$hot-blue: #0FF;

html {
  // cursor: none !important;
}

h1 {
  font-size: 5em !important;
}

// Questions
h3 {}

// Answers
h4 {
  font-size: 1.25em !important;
  margin-top: .5em !important;
  font-style: italic !important;
}

// Question # banner
h6 {
  font-size: 1em !important;
  background: rgba($hot-blue, 0.75);
  color: $hot-pink !important;
  display: inline-block;
  padding: 10px 20px 5px !important;
  text-shadow: 2px 2px #222 !important;
}

dfn {
  color: $hot-pink;
}

.wrap {
  background: rgba(#000, 0.6);
  display: inline-block;
  padding: 20px 30px 0 !important;
}

video {
  height: 85vh !important;
}

.intro  {
  .wrap {
    padding: 0 30px !important;
  }
  h2 {
    $shadow: darken($hot-pink, 40%);
    font-size: 2.5em !important;
    margin-top: -60px !important;
    color: $hot-pink !important;
    text-shadow:
      0 1px $shadow,
      0 2px $shadow,
      0 3px $shadow,
      0 4px $shadow !important
  }
}

.jelly .wrap {
  padding-bottom: 25px !important;
  text-transform: uppercase;
}