// COLOR VARIABLES

$hot-pink: #FF3E96;
$hot-blue: #0FF;

// GLOBAL STYLES FOR ALL SLIDES

html {
  // cursor: none !important;
}

// BIGGEST HEADERS
h1 {
  font-size: 5em !important;
}

// USED FOR DISPLAYING ANSWERS
h4 {
  font-size: 1.25em !important;
  margin-top: .5em !important;
  font-style: italic !important;
}

// USED FOR DISPLAYING QUESTION NUMBERS
h6 {
  font-size: 1em !important;
  background: rgba($hot-blue, 0.75);
  color: $hot-pink !important;
  display: inline-block;
  padding: 10px 20px 5px !important;
  text-shadow: 2px 2px #222 !important;
}

// USED FOR HIGHLIGHTING A WORD(S)
dfn {
  color: $hot-pink;
}

// WRAP FOR DARKENING BG AGAINST IMAGE
.wrap {
  background: rgba(#000, 0.6);
  display: inline-block;
  padding: 20px 30px 0 !important;
}

// GLOBAL VIDEO
video {
  height: 85vh !important;
}

// OVERRIDES FOR SPECIFIC SLIDE GROUPS

.intro  {
  .wrap {
    padding: 0 30px !important;
  }
  h2 {
    $shadow: darken($hot-pink, 40%);
    font-size: 2.5em !important;
    margin-top: -60px !important;
    color: $hot-pink !important;
    text-shadow:
      0 1px $shadow,
      0 2px $shadow,
      0 3px $shadow,
      0 4px $shadow !important
  }
}

.chicago,
.vox {
  h6 {
    margin-bottom: 1.5em !important;
  }
  h4 {
    background: rgba(#000, 0.5);
    display: inline-block;
    padding: 10px 20px 5px 12px !important;
  }
}

.jelly {
  .wrap {
    padding-bottom: 25px !important;
    text-transform: uppercase;
  }
}

.escalator {
  ol {
    width: 60vw !important;
    text-transform: uppercase;
    font-style: italic;
    li {
      text-align: center;
    }
  }
}

// CUSTOM STYLES FOR TEAM GENERATOR PAGE

$p: '.team-generator';

#{$p} {
  
  // TEAM DISPLAY MODULE

  $m: '.m-list';

  #{$m} {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #444;
    background: #DDD;

    &__item {
      margin: 1em;
      flex: 0 1 200px;
      border: 1px solid #000;
      background: #FFF;
      h3 {
        margin: 0;
        background: #555;
        color: #FFF;
        padding: .2em .5em;
        text-transform: uppercase;
      }
    }

    &.empty {
      display: none;
    }

  }

  // FORM DISPLAY MODULE

  $m: '.m-form';

  #{$m} {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 40em;
    padding: 1em;

    &__randomize,
    &__size,
    &__min,
    &__button {
      margin: 1em;
    }

    label {
      font-weight: bold;
    }

    &__textarea {
      width: 100%;
      height: 200px;
      border: 1px solid #222;
    }

    &__button {
      border: 0;
      background: #CCC;
      color: #000;
      border-radius: 0;
      display: inline-block;
      padding: .5em 1em;
    }

  }

}